.bingo_cell{
    background-image: url('assets/img/UI/cell.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    width: 20%;
    height: 20%;
    flex-direction: column;
}
.completed {
    background-image: url('assets/img/UI/cell_completed.png');
}
#buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}
.button {
    font-family: 'Bingo';
    font-size: 16px;
    color: white;
    background-color: #1E1E1E;
    margin-right: 8px;

    text-align: center;
    box-sizing: border-box;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
}.button:hover {
    color: #1E1E1E;
    background-color: #777777;
}
.black_list {
    font-family: 'Bingo';
    font-size: 16px;
    color: #b16e6e;
    background-color: #6b2121;
    margin-right: 8px;

    text-align: center;
    box-sizing: border-box;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
}.black_list:hover {
    color: #b16e6e;
    background-color: #6b2121;
}